<table class="table-auto w-full border-collapse border border-gray-200 shadow-lg rounded-lg">
    <thead class="bg-blue-500 text-white">
      <tr>
        <th class="px-4 py-2">First Name</th>
        <th class="px-4 py-2">Last Name</th>
        <th class="px-4 py-2">Department</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$ | async" [class.bg-yellow-200]="user.isAdmin">
        <td class="border px-4 py-2">{{ user.firstName }}</td>
        <td class="border px-4 py-2">{{ user.lastName }}</td>
        <td class="border px-4 py-2">{{ user.department }}</td>
      </tr>
    </tbody>
  </table>
  